body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f6fef5;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: #ccf2c1; /* light green */
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  color: #225f1f; /* dark green */
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.nav-link:hover {
  background-color: #b3e6a8;
}

.nav-link.active {
  background-color: #9fd79d;
}
